
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    margin: 0;
    min-height: 100vh;
    background-color: #f2f0f0;
    color: #000000;
}


.header {
    background-color: #2c2c2c;
    text-align: center;
    flex-direction: column;
    display: flex; 
    color: #f8f8f8;
}


.nav {
    background-color: #444;
    padding: 10px 20px;
    text-align: center; 
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);

}

.nav a:hover{
    background-color: #1e0404;

}


.image img {
    flex-shrink: 0;
    border-radius: 10px;
}
.nav a {
    text-decoration: none;
    margin: 0 10px;
    color: #f8f8f8;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.intro {
    flex: 1;
}

.card {
    border-radius: 10px;
    padding:  10px 20px;
    margin: 20px auto;
    width: 95%;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    transition: all 0.3s ease, box-shadow 0.3s ease;
}

.card a {
    color: #000000;
    text-decoration: none;
}

#about:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#skills:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#location:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#contact:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
